/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Montserrat", sans-serif;
}
/* Reset box-sizing to avoid overflow */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-x: hidden; /* prevent horizontal scroll */
  }
  .my-big-modal .modal-content {
    background: transparent; /* Make the problematic background disappear */
    border: none; /* Remove the default border */
  }
